.right_icon,
.left_icon {
  top: 20%;
  z-index: 10;
  color: white;
  position: absolute;
  padding: 5px 3px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  user-select: none;
}

.right_icon {
  right: 32px;
}

.left_icon {
  left: 32px;
}
.slider {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-bottom: -290px;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 40%,
    rgba(234, 237, 237, 0) 100%
  );
}

.slide_image {
  width: 100%;
  z-index: 0;
  object-fit: contain;
}

.homeContainer {
  width: 100%;
}

.home {
  display: flex;
  justify-content: center;
  margin: auto auto;
  width: 100%;
  max-width: 1500px;
}

.homeRow {
  display: flex;
  z-index: 1;
  margin: auto 5px;
}

@media (max-width: 576px) {
  .homeRow {
    flex-direction: column;
  }
  .slider {
    margin-top: 60px;
    margin-bottom: -50px;
  }
}
