.registerPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
}

p.error {
  margin: 3px auto;
  color: red;
  font-size: 0.9rem;
  text-align: center;
}
