@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(234, 237, 237);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus,
button:focus,
button:active {
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}

button {
  cursor: pointer;
}

hr {
  margin: 15px 0;
}

p {
  font-size: 0.9rem;
}

.App,
#root,
body,
html {
  height: 100%;
}

.amazon_button,
.amazon_button_2,
.amazon_button_3 {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 7px 30px;
  color: #111;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  min-width: 280px;
  margin: 5px 0;
  border: 1px solid;
}

.amazon_button {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  border-color: #a88734 #9c7e31 #846a29;
}

.amazon_button_2 {
  background: #e7e9ec;
  background-image: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  border-color: #adb1b8;
}

.amazon_button:hover {
  background: linear-gradient(to bottom, #f4d486, #eeba37);
}
.amazon_button_3 {
  background-color: #f1b367;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  border-color: #a88734 #9c7e31 #846a29;
}

.amazon_button_3:hover {
  background-color: #e18513;
}
